@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(180deg, #A2678A, #4D3C77, #37306B );
}


.container{
    overflow: hidden;
    background-color: #45474B;
    height: 1300px;
    border-radius: 50px;
    box-shadow: 2px 2px 12px black;
    position: relative;
}
.cinema{
    width: 1220px;
    height: 280px !important;
    position: absolute;
   top:2%;
   left:0;
    border-radius: 20px;
    box-shadow: 5px 10px 10px 5px wheat;
    animation: move 2s ease-in-out infinite;
}


.chairs{
    position: absolute;
    top:350px;
    left:8%;
    padding-bottom: 30px;

}

.chairs .col-10 {
    display: flex;
    justify-content: center;
    
  
}

.chairs .col-a{
    margin-top: 40px;
}

.chairs .col-10 i{
    color: wheat;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    margin-left: 9px;
    box-shadow: 2px 1px 2px 2px wheat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    
}

.chairs .col-10 i:hover{
    cursor: pointer;
    background-color: #A2678A;
    border-radius: 50%;
    
}

.business {
    background-color: #395144
}



.selected {
    background-color: #37306B;
    color: aliceblue;
}

.reserved {
    background-color: #FECDA6;
    color: black !important;

}

.chair:nth-of-type(2) {
    margin-right: 30px;
}

.chair:nth-last-child(3) {
    margin-right: 30px;
}






.seats{
    display: flex;
    justify-content: center;
    position: absolute;
    top:900px;
    left: 0;
    
}

.seat{
    list-style: none;
    padding: 20px;
    font-size: 1.2rem;
    
}

.exampleSeat{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    box-shadow: 2px 5px 5px wheat;
    color: wheat;
    border-radius: 50%;
    padding-left: 13px;
   
}

.text{
    position: absolute;
    top: 1150px;
    left:25%;
    width: 800px;
   
}

.text .pay {
    font-size: 1.6rem;
    display: none;
}


@keyframes move {
    0%, 100%{
     transform: rotateX(360deg);
    }
    50%{
        transform: rotateX(330deg);
    }
  }


/* responsive */
/*md ekran*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .cinema{
        width: 830px;
        padding: auto;
    }

    .text{
        width: 700px;
       
    }
    
    .text .pay {
        font-size: 1.6rem;
        display: none;
    }
    

}

/*sm ekran için*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    .cinema{
        width: 600px;
        padding: auto;
    }

    .text{
        
        width: 500px;
       
    }
    
    .text .pay {
        font-size: 1.6rem;
        display: none;
    }

}

/*xs ekran için*/
@media screen and (max-width: 767px) {

    .cinema{
        width: 300px;
        box-shadow: 5px 5px 5px 5px #FECDA6;
        animation: move 2s ease-in-out infinite;
      
    }

    .chairs .col-10 i{
        width: 32px;
        height: 32px;
        box-shadow: 2px 1px 2px 2px black;
        
    }

    .chair:nth-of-type(2) {
        margin-right: 5px;
    }
    
    .chair:nth-last-child(3) {
        margin-right: 5px;
    }
    

    .text{
        width: 300px;
    }
    
    .text .pay {
        font-size: 1.2rem;
        display: none;
    }

}